<div class="ellipsis_inline" data-placement="bottom" title="{{#unless value}}{{#if def.placeholder}}{{str def.placeholder this.model.module}}{{/if}}{{/unless}}{{value}}" >
	{{#if custom_href}}<a href="{{custom_href}}">{{value}}</a>{{else}}{{value}}{{/if}}
</div>